# =========================
# Operating System Files
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# OSX files
.DS_Store
.AppleDouble
.LSOverride

# OSX thumbnails
._*

# OSX files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# =========================
# LaTeX
# =========================
*.bbl
*.blg
*.bak
*.aux
*.out
*.toc
*.log
*.gz
*.dvi
*.bcf
*.nav
*.run.xml
*.snm
*.vrb
*.fdb_latexmk
*.fls

# =========================
# Python script
# =========================
python/latexgen\.py

# =========================
# Emacs
# =========================
*.el
*.tex~
