# =======================
# LaTeX
# =======================

*.aux
*.bbl
*.bcf
*.blg
*.bak
*.bcf
*.dvi
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.vrb
*.tdo
*.toc
*.xml


# =======================
# Python script
# =======================
python/latexgen\.py


# =======================
# Emacs
# =======================

*.el
*.tex~
