# =======================
# LaTeX
# =======================

*.aux
*.bbl
*.bcf
*.blg
*.bak
*.bcf
*.dvi
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.vrb
*.tdo
*.toc
*.xml

# =======================
# Emacs
# =======================

*.el
*.tex~

# =======================
# Build output
# =======================
template_blank.tex
template_beamer.tex
template_dissertation.tex
template_report.tex

overleaf.zip
